.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

* {
  color: white;
  background-color: black;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.thead {
  font-size: 20px;
  font-weight: bolder;
  margin-right: 50px;
}
.button {
  background-color: #61dafb;
  color: black;
  padding: 10px 10px;
  display:list-item;
  font-size: 16px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  vertical-align: middle;
}

.button2 {
  background-color: #61dafb;
  color: black;
  padding: 10px 10px;
  display: inline-block;
  font-size: 16px;
  text-align: center;
}

table, th, td {
  border: 1px solid;
  margin: 0px;
  padding:20px;
  margin-left: auto;
  margin-right: auto;
}
